.acontainer1{
    display: flex;
    margin-top: 156px;
    margin-left: 89px;
    margin-right:132px ;

}


.div_img_container1{
    display: flex;


}


.div_img1{
    width: 247px;
    height: 259px;
    margin-right: 50px;
    border-radius: 20px;
}

.div_img2{
    width: 288px;
    height: 346px;
    margin-right:69px;
    border-radius: 20px;
}

.div_aboutus>p>.sp1{
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    color:var(--blue_color)
}

.div_aboutus>p>.sp2{
    font-size: 40px;
    line-height: 68px;
    font-weight: 600;
    color: var(--black3);
}

.div_aboutus>p{
    font-size: 18px;
    line-height: 31.5px;
    font-weight: 400;
    color: var(--soft_black);
}

.acontainer2{
    display: flex;
    margin:60px 163px;
}

.div_img3{
    margin-right: 51px;
    border-radius: 20px;
}

.div{
    border-radius: 20px;
}


h2{
    font-weight: 600;
    font-size: 45px;
    line-height: 72px;
    color: var(--blue_color);
    width: 807px;
    margin-left: 123px;
}

.h2_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: var(--soft_black);
    margin-left: 123px;
    margin-right: 303px;
    margin-top: 48px;
}

.div_last>p{
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    color: var(--soft_black);
    margin-left: 123px;
    width: 499px;
    margin-top: 211px;
}

.div_last>p>span{
    margin-top: 31px;
    font-weight: 600;
    line-height: 48px;
    font-size: 30px;
    color: var(--black_color);
    width: 499px;
}