:root{
    --blue_color:#1090CB;
    --black_color:#000000;
    --white_color:#ffffff;
    --dark_blue: #00329B;
    --soft_black: #686868;
    --black2:#5C5C5C;
    --black3:#252525;
    --grey:#D2D2D2;
    --grey3:#f4f4f4;
    --black4:#545454;
    --sky_blue:#E8F4FA;
    --grey4:#969696;



}


.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31PX 32PX 27PX 32PX;
    border-bottom: 1px solid var(--grey);
}

h1{
height: 44px;
font-weight: 700;
font-size: 29px;
color: var(--blue_color);
width: 121px;
margin-left: 32px;
margin-top: 31px;

}

.navbar_list{
    display: flex;
    align-items: center;
}

.navbar_list_item a{
    height: 24px;
    font-size: 16px;
    margin-left: 73px;
    font-weight: 400;
    color: var(--black_color);
}

.navbar_list_item:nth-child(1) a{
    color: var(--blue_color);
}

.navbar_list_item:nth-child(4) a{
    visibility: hidden;
}

.navbar_list_item:nth-child(5) a{
    padding:10px 27px ;
    background-color: var(--blue_color);
    border-radius: 6px;
    color: var(--white_color);
    
}

.nav_button{
    padding:10px 27px ;
    background-color: var(--blue_color);
    border-radius: 6px;
    color: var(--white_color);
}

.div_main_foot{
    height: 534px;
    width: 100%;
    background-color: var(--sky_blue);
    margin-bottom: 87px;
}

.div_main_foot_text{
    margin: auto;
    font-weight: 600;
    font-size: 30px;
    line-height: 51px;
    width: 516px;
    color: var(--black3);
    text-align: center;
    padding-top: 148px;
    padding-bottom: 70px;
}

.subs{
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    margin: auto;
}

.email{
    width:532px ;
    height: 67px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.dmf_btn{
    width: 173px;
    height: 67px;
    background-color: var(--black_color);
    color: var(--white_color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    border: none;
}


footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 82px 101px;
}

.contacting_footer{
    display: flex;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 56px;
    margin-bottom: 29px;
}

.footer_logo>.p3{
    font-size: 16px;
    margin-top: 25px;
}

.footer_logo{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 78px;
    cursor: pointer;
}

.footer_about_us{
    display: flex;
    flex-direction: column;
    width: 25%;
    cursor: pointer;
}
.footer_contact_us{
    display: flex;
    flex-direction: column;
    width: 25%;
    cursor: pointer;
}
/* .footer_contact_us>.p1:hover{
    transform: scale(1.01);
    color: #313131;
} */


.footer_contact_us>.p3{
    margin-top: 11px;
}

.p1{
    margin-bottom: 82px;
    font-size:17px ;
    font-weight: 500;
    color: var(--black_color);
}

.p2{
    font-size: 16px;
    font-weight: 400;
}

.footer_logo>.p1{
    color: var(--dark_blue);
}


.footer_social_media{
    display: flex;
    align-items: end;
    margin-left: 83px;

}

/* .copyright{
    margin: 29px
    color: var(--soft_black);
    font-size: 13px;
} */

