.st_div{
    height: 743px;
    display: flex;
    background-image: url(../img/background1.svg);
    justify-content: space-between;
}

.laptop_img{
    margin: 0 153px 66px 25px;
}

.services_icon>li{
    display: flex;
}


.services_icon>li>p{
    text-align: center;
    margin: auto;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: 400;
    font-size: 15px;
    color: var(--grey4);
}
.services_icon>li>p>span{
    font-weight: 500;
    font-size: 20px;
    color: var(--black_color);
}

.st_left{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 0 165px 0;

}
.st_left>h2{
    font-size: 40px;
    font-weight: 700;
    margin: 128px 0 0 123px;
    padding-bottom: 16px;
    line-height: 61.5px;
}

.st_left>p{
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 65px 123px;
    line-height: 32.69px;
    color: var(--black2);
}

.btn{
    margin:0 0 0 123px;
}

.btn>button{
    padding: 9px 52px;
    cursor: pointer;
}
.btn>button:hover{
    box-shadow: 0 0 4px var(--soft_black);
}
.btn>button:first-child{
    background-color: var(--blue_color);
    color: var(--white_color);
    border-radius: 10px;
    border: none;
}

.btn>button:last-child{
    color: var(--blue_color);
    background-color: var(--white_color);
    border-radius: 10px;
    border: none;
}

.nav2{
    padding: 43px 123px;
    border-bottom: 1px solid var(--grey);
}

.nav2>ul{
    display: flex;
    justify-content: center;
}
/* .nav2>ul>li{
    margin:0 31px
} */

.h3{
    font-weight: 600;
    font-size: 33px;
    line-height: 52.8px;
    color:var(--black3);
    text-align: center;
    margin: 115px 296px 0;
}

.para2{
    font-weight: 400;
    font-size: 18px;
    line-height: 31.5px;
    color:var(--soft_black);
    align-items: center;
    text-align: center;
    margin: 32px 374px 55px 374px;
}

.bg_div_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:0 65px 0 120px;
}

.smdiv1{
    display: flex;
    justify-content: space-between;

}
.text_icon{
    display: flex;
}
.div_icon_text{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.smdiv2{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

}

.text_container{
    display: flex;
    flex-direction: column;
    align-self: end;   
}
.p_head{
    font-weight: 500;
    font-size: 17px;
    color: var(black_color);
}

.p_content{
    font-size: 14px;
    font-weight: 400;
    line-height: 14.5px;
    color: var(--soft_black);
}

.p2_head{
    font-size: 30px;
    font-weight: 600;
    line-height: 51px;
    padding: 50px 0;
}

.p2_head_span{
    color: var(--blue_color);
}

.p2_content{
    color: var(--black4);
    font-weight: 400;
    font-size: 16px;
    line-height: 27.2px;

}


.content_pic{
    width: 738px;
    height: 511px;
}

.smdiv2{
    margin:100px 0;
}

.partners_text{
    margin-top: 180px;
    font-weight: 500;
    font-size: 24px;
    line-height: 38.16px;
    text-align: center;
}
.div_partners_img{
    display: flex;
    justify-content: center;
}
.partners_img{
    margin-right: 115px;
}

.info_div{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding:230px 0 0 0;
}

.info_div_item{
    width: 572px;
    height: 459px;
    border-radius: 20px;
    background-color: var(--blue_color);
    display: flex;
    flex-direction: column;
}

.info_div_item:nth-child(1){
    background-color: var(--grey3);
    margin-right: 50px;
}

.info_div_item>h4{
    padding: 64px 104px;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    color: var(--white_color);
}
.info_div_item:nth-child(1)>h4{
    color: var(--black3);
}



.info_div_item>p{
    padding: 0 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--white_color);
}

.info_div_item:nth-child(1)>p{
    color:var(--black4);
}

.blue_btn{
    padding: 11px 35px;
    margin:60px 209px;
    background-color:var(--blue_color) ;
    color: var(--white_color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.blue_btn:hover{
    box-shadow: 0 0 4px var(--soft_black);
}

.white_btn{
    padding: 11px 35px;
    margin:60px 209px;
    background-color:var(--white_color) ;
    color: var(--blue_color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.white_btn:hover{
    box-shadow: 0 0 4px var(--white_color);
}

.div_main_foot{
    height: 534px;
    width: 100%;
    background-color: var(--sky_blue);
}

.div_main_foot_text{
    margin: auto;
    font-weight: 600;
    font-size: 30px;
    line-height: 51px;
    width: 516px;
    color: var(--black3);
    text-align: center;
    padding-top: 148px;
    padding-bottom: 70px;
}

.subs{
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
}

.email{
    width:532px ;
    height: 67px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.dmf_btn{
    width: 173px;
    height: 67px;
    background-color: var(--black_color);
    color: var(--white_color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    border: none;
}